<launch>
  <node name="bottomCamera" pkg="pauvsi_m7" type="cameraDriver" output="screen">
  	<param name="frame_rate" value="30" />
  	<param name="serial_number" value="15356310" />
  	<param name="camera_type" value="1" />
  	<param name="camera_position" value="bottomCam" />
  	<param name="crop_x" value="640" />
  	<param name="crop_y" value="640" />
  </node>
</launch>